body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
  
}
/* Header */  
.upperportion {
    background-color: #e0e0e0;  
    font-size: 20px;
    display: flex;
    position: relative;          /* parent ref for h1  */
    justify-content: flex-end;   /* push button on right*/
    align-items: center;         /* center both button and title */
    padding: 20px;
}
.upperportion h1 {
    background-color: #e0e0e0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;  /* no default marge to be sure */
}